footer {
  background-color: var(--black);
  padding: 5rem 1.5rem 4rem 1.5rem;
}

.footer-container {
  width: 100vw;
  color: var(--white);
  display: flex;
  flex-direction: column;
  font-family: var(--body-regular);
  width: 100%;
}

footer h4 {
  font-family: var(--heading);
  font-size: var(--h5);
  font-weight: 500;
}
footer ul {
  list-style: none;
  padding: 0;
}

.footer-logo,
.socials {
  padding-bottom: 2.5rem;
}

.footer-logo {
  font-family: var(--body-bold);
}

footer svg {
  vertical-align: bottom;
  margin-left: 5px;
  fill: var(--white);
  transition: 0.15s;
}

.socials li {
  padding-bottom: 10px;
}

footer a:hover svg {
  fill: var(--primary-green);
}

@media screen and (min-width: 1335px) {
  footer {
    padding: 5rem 4rem;
  }

  footer p {
    font-size: var(--p-medium);
  }

  .footer-container {
    flex-basis: auto;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-container div {
    padding-left: 0;
  }

  .footer-container div:first-child {
    flex-basis: 40%;
  }

  .footer-container div:last-child {
    padding-right: 8rem;
  }
}
