.footer-container {
  width: 100vw;
  background-color: var(--black);
  color: var(--white);
  display: flex;
  flex-direction: column;
  font-family: var(--body-regular);
  padding-top: 50px;
  padding-bottom: 25px;
  gap: 20px;
}
.footer-container div {
  padding-left: 25px;
}
footer h4 {
  font-family: var(--heading);
  font-weight: 500;
}
footer ul {
  list-style: none;
  padding: 0;
}
.footer-logo {
  font-family: var(--body-bold);
}
footer svg {
  vertical-align: bottom;
  margin-left: 5px;
}
.socials li {
  padding-bottom: 10px;
}
footer a:hover svg {
  fill: purple;
  color: blueviolet;
}

@media screen and (min-width: 430px) {
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 80px;
  }
  .footer-container div {
    padding-left: 0;
  }
  .footer-container div:first-child {
    padding-left: 25px;
    max-width: 260px;
  }
  .footer-container div:last-child {
    padding-right: 80px;
  }
}
