/*--- MOBILE ---*/

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--black);
    z-index: 999;
}

nav.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.5rem;
    vertical-align: middle;
    height: 4rem;
}

nav.menu-hamburger {
    position: fixed;
    top: 4rem;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--black);
    transform: translate(100%, 0);
    transition: transform 0.5s 0s;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.menu-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1.5rem;
}

.menu-item a {
    font-size: var(--h2);
    font-family: var(--heading);
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.nav-open nav {
    transform: translate(0, 0);
    transition-delay: 0.1s;
}


/* Hide desktop nav on mobile */
.menu-item-desktop {
    display: none;
    font-family: var(--heading);
}

/*--- DESKTOP ---*/

@media (min-width: 940px) {
    nav.menu {
        padding: 2rem 4rem;
    }

    .menu-toggle {
        display: none;
    }

    .menu-item-desktop {
        display: flex;
        justify-content: space-between;
        gap: 2rem;

    }

    .menu-item-desktop a {
        font-size: var(--h4);
        /* margin-left: 2rem; */
    }
}
