/*--- MOBILE ---*/
section.hero {
    margin-top: 4rem;
    background-color: var(--black);
    padding: 9.375rem 1.5rem;
    display: flex;
    flex-direction: column;
}

.hero-content h1 {
    font-size: var(--h2);
    line-height: 1.125;
}

.hero-content p {
    font-size: var(--p-large);
    margin-bottom: 3rem;
}

.hero .image-container {
    margin-top: 3rem;
}

.hero .image-wrapper {
    background-color: var(--tertiary-pink);
    width: 100%;
    height: 22rem;
}
/*--- DESKTOP ---*/

@media (min-width: 1400px) {

    section.hero {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        align-content: center;
        vertical-align: top;
        padding: 9.375rem 4rem;
    }

    .hero-content {
        margin: 0;
    }

    .hero-content h1 {
        font-size: var(--h1);
        margin-bottom: 2rem;
    }

    .hero .image-container {
        margin-top: 0;
    }

    .hero .image-wrapper {
        width: 32rem;
        height: 41rem;
    }


}