/*--- MOBILE ---*/
section.hero {
  background-color: var(--black);
  padding: 8rem 1.5rem 4rem 1.5rem;
}

.hero-content,
.about-container,
.contact-container,
.labs-container,
.team-container {
  display: flex;
  flex-direction: column;
  max-width: 1312px;
  margin: 0 auto;
}

.hero-content h1 {
  font-size: var(--h3);
  line-height: 1.125;
}

.hero-content p {
  font-size: var(--p);
  margin-bottom: 2rem;
}

button.primary {
  display: none;
}

button.mobile.primary {
  display: block;
  margin: 0 auto;
}

.hero .image-container {
  margin-top: 3rem;
}

.hero picture {
  display: block;
  min-width: 4rem;
  min-height: 4rem;
  width: auto;
  height: auto;
  overflow: hidden;
}

.hero picture img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  padding: 2rem 0;
}
/*--- DESKTOP ---*/

@media (min-width: 1335px) {
  section.hero {
    padding: 8rem 4rem;
  }

  .hero-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    vertical-align: top;
  }

  .hero-content h1 {
    font-size: var(--h1);
    margin-bottom: 2rem;
  }

  .hero-content p {
    font-size: var(--p-large);
    margin-bottom: 2rem;
  }

  button.primary {
    display: block;
  }

  button.mobile.primary {
    display: none;
  }

  .hero picture {
    margin-left: -10rem;
    padding: 0 2rem 0 0;
    max-width: 45rem;
    max-height: auto;
  }

  .hero picture img {
    padding: 0;
  }
}
