/*********************
 * Labs *
*********************/

.labs {
  background-color: var(--tertiary-pink);
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url(/images/grid.svg);
  background-size: cover;
}
.labs h2 {
  background-color: var(--black);
  color: var(--white);
  font-family: var(--heading);
  font-weight: 500;
  font-size: 38px;
  text-align: center;
  padding: 18px;
}
.labs-info {
  color: var(--black);
  text-align: center;
  padding-left: 4rem !important;
  padding-right: 4rem !important;
  margin-bottom: 0 !important;
}
.lab-01,
.lab-01 img {
  width: 100%;
  background-color: var(--black);
}
.lab-01 svg {
  float: right;
  margin-top: 7rem;
  margin-right: 1.5rem;
  width: 3rem;
  fill: var(--white);
  transition: 0.2s;
}
.lab svg {
  float: right;
  margin-top: 9rem;
  margin-right: 1.5rem;
  width: 3rem;
  fill: var(--white);
  transition: 0.2s;
}
.labs svg:hover {
  fill: var(--primary-green);
  cursor: pointer;
  transform: scale(1.2);
}
.lab {
  background-color: var(--black);
  color: var(--white);
  margin-left: 24px;
  margin-right: 24px;
}
.lab-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.lab-desktop {
  display: none;
}
.labs img {
  width: 100%;
}
.labs h3 {
  background-color: var(--black);
  color: var(--white);
  font-family: var(--heading);
  font-weight: 500;
  font-size: 32px;
  text-align: left;
  padding-left: 24px;
  margin-bottom: 0;
}
.labs p {
  padding-left: 24px;
  padding-right: 80px;
  padding-bottom: 30px;
}
<<<<<<< HEAD
.labs button {
  background-color: transparent;
  margin: 50px auto;
=======
.labs-button {
  width: 100%;
  display: flex;
  justify-content: center;
}
.labs-button button {
  background-color: var(--tertiary-pink) !important;
  margin-top: 50px !important;
>>>>>>> 8101aeeb3f6ab0b8f360891024849211bce44568
}
