/*********************
 * Labs *
*********************/

.labs {
  background-color: var(--tertiary-pink);
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url(/images/grid.svg);
  background-size: cover;
}
.labs h2 {
  background-color: var(--black);
  color: var(--white);
  font-family: var(--heading);
  font-weight: 500;
  font-size: var(--h4);
  text-align: center;
  padding: 18px;
}
.labs-info {
  color: var(--black);
  text-align: center;
  margin: 0 auto;
}
.lab-01,
.lab-01 img {
  width: 100%;
  background-color: var(--black);
  margin-bottom: 3rem;
}
.lab-01 svg {
  float: right;
  margin-top: 7rem;
  margin-right: 1.5rem;
  width: 3rem;
  fill: var(--white);
  transition: 0.2s;
}
.lab svg {
  float: right;
  margin-top: 9rem;
  margin-right: 1.5rem;
  width: 3rem;
  fill: var(--white);
  transition: 0.2s;
}
.labs svg:hover {
  fill: var(--primary-green);
  cursor: pointer;
  transform: scale(1.2);
}
.lab {
  background-color: var(--black);
  color: var(--white);
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.lab-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.lab-desktop {
  display: none;
}
.labs img {
  width: 100%;
}
.labs h3 {
  background-color: var(--black);
  color: var(--white);
  font-family: var(--heading);
  font-weight: 500;
  font-size: 32px;
  text-align: left;
  padding-left: 1.5rem;
  margin-bottom: 0;
}
.labs p {
  padding: 1.5rem;
}
.labs-button {
  width: 100%;
  display: flex;
  justify-content: center;
}
.labs-button button {
  background-color: transparent;
  margin: 50px auto;
}
