/* TABLET */
@media screen and (min-width: 430px) {
  .lab-01 {
    margin-bottom: 3rem;
    width: auto;
  }
  .lab-01 svg {
    margin-top: 1.5rem;
  }
  .lab {
    margin: 0 4rem;
  }
  .lab svg {
    margin-top: 4rem;
  }
  .card-container {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }
  .card {
    max-width: 320px;
  }
}

/* DESKTOP */
@media screen and (min-width: 1000px) {
  .labs p {
    font-size: var(--p);
  }

  .labs .labs-info {
    padding: 4rem;
  }

  .lab-desktop {
    display: block;
  }
  .lab-container {
    flex-direction: row;
    margin-left: 4rem;
    margin-right: 4rem;
  }
  .lab {
    margin: 0;
    width: calc(100% / 3);
  }
  .lab-01 {
    margin-left: 4rem;
    margin-right: 4rem;
  }
  .lab-01 p {
    width: 65%;
    font-size: 1.5rem;
  }
  .lab-01 svg {
    margin-top: 6.5rem;
  }
  .lab svg {
    margin-top: 15rem;
    width: 2rem;
  }
  .team-info,
  .card-container {
    margin-left: 4rem;
    margin-right: 4rem;
  }
  .team h2 {
    font-size: 48px;
  }
  .team-info {
    width: 60%;
    margin-left: auto;
    padding-right: 0;
    font-size: 28px;
    text-align: end;
  }
}

@media screen and (min-width: 1100px) {
  .lab-container {
    gap: 5rem;
  }
}

@media screen and (min-width: 1200px) {
  .lab svg {
    margin-top: 8rem;
    width: 2.6rem;
  }
}

@media screen and (min-width: 1330px) {
  .lab-01 svg {
    margin-top: 4.5rem;
    width: 8rem;
  }
  .lab svg {
    margin-top: 8rem;
    width: 2.6rem;
  }
  .card-container {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 30px;
  }
}
