@media screen and (min-width: 430px) {
  .lab-desktop {
    display: block;
  }
  .lab-container {
    flex-direction: row;
  }
  .team h2 {
    font-size: 48px;
  }
  .team-info {
    width: 60%;
    margin-right: 0;
    margin-left: auto;
    font-size: 28px;
    text-align: end;
  }
  .card-container {
    flex-direction: row;
    gap: 30px;
  }
}
