/*********************
 * @FONTFACE *
*********************/

/*- Headings -*/
@import url("https://use.typekit.net/irh3ude.css");

/*- Body text -*/
@font-face {
    font-family: 'Satoshi-Regular';
    src: url('../fonts/Satoshi-Regular.woff2') format('woff2'),
         url('../fonts/Satoshi-Regular.woff') format('woff');
         font-weight: 400;
         font-display: swap;
         font-style: normal;
  }
/* Bold */
  @font-face {
    font-family: 'Satoshi-Bold';
    src: url('../fonts/Satoshi-Bold.woff2') format('woff2'),
         url('../fonts/Satoshi-Bold.woff') format('woff');
         font-weight: 400;
         font-display: swap;
         font-style: normal;
  }

/*********************
 * Variables *
*********************/

:root {
  /* Color */
  --white: #fff;
  --black: #212121;

  /* Font type */
  --heading: poster-gothic-atf, sans-serif;
  --body-regular: 'Satoshi-Regular';
  --body-bold: 'Satoshi-Bold';

  /* Font size */
  --base-size: 16px;
  --p: 1rem;
  --h1: 4.5rem;
  --h2: 2rem;
  --h3: ;
  --h4: 1.5rem;
}

/*********************
 * General *
*********************/

body {
  box-sizing: border-box;
  margin: 0;
  font-family: var(--body-regular);
}

a {
  color: var(--white);
  text-decoration: none;
}

h1 {
  font-family: var(--heading);
}