/*********************
 * @FONTFACE *
*********************/

/*- Headings -*/
@import url('https://use.typekit.net/irh3ude.css');

/*- Body text -*/
@font-face {
  font-family: 'Satoshi-Regular';
  src: url('../fonts/Satoshi-Regular.woff2') format('woff2'),
    url('../fonts/Satoshi-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
/* Bold */
@font-face {
  font-family: 'Satoshi-Bold';
  src: url('../fonts/Satoshi-Bold.woff2') format('woff2'),
    url('../fonts/Satoshi-Bold.woff') format('woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

/*********************
 * Variables *
*********************/

:root {
  /* Color */
  --white: #fff;
  --black: #212121;
  --primary-green: #54df69;
  --secondary-orange: #ffb038;
  --tertiary-pink: #fbc2d3;

  /* Font type */
  --heading: poster-gothic-atf, sans-serif;
  --body-regular: 'Satoshi-Regular';
  --body-bold: 'Satoshi-Bold';

  /* Font size */
  --base-size: 16px;
  --p: 1rem;
  --p-large: 1.5rem;
  --h1: 7.375rem;
  --h2: 4.5rem;
  --h3: 3rem;
  --h4: 1.5rem;
}

/*********************
 * General *
*********************/

body {
  box-sizing: border-box;
  margin: 0;
  font-family: var(--body-regular);
  overflow-x: hidden;
}

a {
  color: var(--white);
  text-decoration: none;
}

a:hover {
  color: var(--primary-green);
  transition: 0.15s;
}

button {
  font-family: var(--body-bold);
  font-size: var(--p-large);
  /* background-color: var(--primary-green); */
  border: 6px dashed var(--black);
  border-radius: 4rem;
  padding: 1rem 3rem;
  text-transform: uppercase;
  cursor: pointer;
}

button.primary {
  background-color: var(--primary-green);
  color: var(--black);
  transition: 0.15s;
}

button.primary:hover {
  color: var(--white);
}

p {
  font-family: var(--body-regular);
  color: var(--white);
}

h1 {
  font-family: var(--heading);
  font-size: var(--h1);
  color: var(--white);
  margin: 0;
  line-height: 1;
}
