/*********************
 * @FONTFACE *
*********************/

/*- Headings -*/
@import url('https://use.typekit.net/irh3ude.css');

/*- Body text -*/
@font-face {
  font-family: 'Satoshi-Regular';
  src: url('../fonts/Satoshi-Regular.woff2') format('woff2'),
    url('../fonts/Satoshi-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
/* Bold */
@font-face {
  font-family: 'Satoshi-Bold';
  src: url('../fonts/Satoshi-Bold.woff2') format('woff2'),
    url('../fonts/Satoshi-Bold.woff') format('woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

/*********************
 * Variables *
*********************/

:root {
  /* Color */
  --white: #f6f6f6;
  --black: #212121;
  --primary-green: #73e686;
  --secondary-orange: #ffb038;
  --tertiary-pink: #fbc2d3;

  /* Font type */
  --heading: poster-gothic-atf, sans-serif;
  --body-regular: 'Satoshi-Regular';
  --body-bold: 'Satoshi-Bold';

  /* Font size */
  --base-size: 16px;
  --p: 1rem;
  --p-large: 1.5rem;
  --h1: 7.375rem;
  --h2: 4.5rem;
  --h3: 3rem;
  --h4: 2.5rem;
  --h5: 1.5rem;
}

/*********************
 * General *
*********************/

body {
  box-sizing: border-box;
  margin: 0 auto;
  font-family: var(--body-regular);
  overflow-x: hidden;
}

a {
  color: var(--white);
  text-decoration: none;
}

a:hover {
  color: var(--primary-green);
  transition: 0.15s;
}

button {
  font-family: var(--body-bold);
  font-size: var(--p-large);
  /* background-color: var(--primary-green); */
  border: 6px dashed var(--black);
  padding: 1rem 3rem;
  text-transform: uppercase;
  cursor: pointer;
}

button.primary {
  background-color: var(--primary-green);
  color: var(--black);
  transition: 0.15s;
}

button.primary:hover {
  color: var(--white);
}

button.primary.white-bg {
  border: 5px dashed var(--white);
}

p {
  font-family: var(--body-regular);
  color: var(--white);
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

h1 {
  font-family: var(--heading);
  font-size: var(--h1);
  color: var(--white);
  line-height: 1;
}

/*********************
 * FORMS *
*********************/

label {
  margin: 0;
}

input,
textarea {
  box-sizing: border-box;
  width: 100%;
  font-family: var(--body-regular);
  background-color: var(--white);
  color: var(--black);
  border: 2px solid var(--black);
  border-radius: 0.25rem;
  outline: none;
  padding: 1rem;
  transition: all 0.2s;
}

textarea {
  height: 16rem;
  resize: vertical;
}

/* Removes autofill default styling*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px var(--black) inset;
}

input:-webkit-autofill:focus {
  box-shadow: 0 0 0 2px var(--primary-green);
}

input:focus,
textarea:focus {
  border: 2px solid var(--primary-green);
  box-shadow: 0 0 0 1px var(--primary-green);
}

input::-webkit-input-placeholder,
textarea::placeholder {
  font-size: 16px;
  color: var(--black);
  opacity: 0.5;
}
